/* learn more about css3 - media-responsible */

/* base_layout styling */
* {
  margin: 0;
  padding: 0;
}

html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

h1, h2, h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: auto;
  text-transform: uppercase;
}

h1 {font-size: 1.8em;
    color: #1a5567;}
h2 {font-size: 1.4em;}
h3 {font-size: 1em;}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(760px, auto);
  grid-template-rows: auto 1fr auto;
  grid-gap: 50px;
  color: white;
  margin-top:50px;
  overflow-x:hidden;
}

header, footer {
  background: rgba(109,121,147, .8);
}

.header{
  display: grid;
  grid-template-columns: 1fr 60%;
  width: 760px;
  margin: auto;
}

header h1 {
  justify-self: start;
  margin: auto 0;
}
header h1 a img {
  height: 70px;
}

header .main-nav {
  justify-self: end;
  margin: auto 0;
}

header .main-nav li {
  display: inline-block;
  padding: 10px;
}

header .main-nav li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.85em;
}

header .main-nav li a:hover {
  color: gold;
  text-shadow: 0px 11px rgba(255,255,255, 0.3);
}

main {
  width: 760px;
  margin: auto;
  padding: 10px;
}

.content {
	position: relative;
	left: 0;
	-webkit-animation: mymove 5s infinite;
	animation: mymove 1.5s 1;
}

@-webkit-keyframes mymove {
  0% {left: 500px;}
  50% {left: 0;}
}

@keyframes mymove {
  0% {left: 500px;}
  50% {left: 0;}
}

footer {
  border-bottom: 1px solid white;
}
.footer{
  display: grid;
  grid-template-columns: 60% 1fr;
  width: 760px;
  margin: auto;
}
footer .footer-creator{
  display: grid;
  grid-template-columns: 20% 1fr;
  font-size: 0.8em;
  justify-self: start;
}

.footer-creator p a img {
  height: 70px;
}

.footer-creator ul {
   margin: auto 20px;
}

footer .footer-creator li {
  display: inline-block;
  padding: 0 20px 0 0;
}

footer .footer-creator li a {
  text-decoration: underline;
  color: white;
}

footer .footer-nav {
  justify-self: end;
  margin: auto 0;
}

footer .footer-nav li {
  display: inline-block;
  padding: 0 0 0 15px;
  position: relative;
}

footer .footer-nav li a img {
  height: 30px;
  border-radius: 5px;
}

/* homepage styling */
.content {
	margin-top: 50px;
}
body .content .homepage-content {
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
}

hr.style1 {
	border-top: 2px double gold;
	margin: 10px 0;
}

hr.style2 {
	border-top: 1px double gold;
  margin: 0 20px;
}

.buttonDownload {
	display: block;
	padding: 10px 20px;
	width: 140px;
	background-color: #1a5567;
	color: white;
	margin: 50px auto;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.buttonDownload:hover {
	background-color: #6d7993;
	color: white;
	opacity: 1;
	box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

/* skills styling */
.skills-content {
/*   margin: auto; */
}
.skills-content .skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

}

.skills-content .skills .skill {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px;
   background: rgba(150,133,153, 0.5);
}

.skills-content .skills .skill img{
  height: 70px;
}

.skills-content .skills .skill img, h2, p{
  display: block;
  text-align: center;
  margin: auto;
}

.skills-content h1 {
  font-size: 2em;
  padding-bottom: 30px
}

/* experience styling */
.experience-content {
/*   margin: auto; */
}

.experience-content .activities {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.experience-content .activities .activity {

  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px;
  background: rgba(255,255,255, 0.9);
  color: #6D7993;
}


.experience-content h1{
  padding-bottom: 20px;
}

/* portfilio styling */
.portfolio-content {
/*   margin: auto; */
}

.portfolio-content .projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.portfolio-content .projects .project {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px 50px;
  background: rgba(150,133,153, 0.5);
  margin: auto;
}

.portfolio-content .projects .project:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.project img {
  opacity: 0.8;
}

.project img:hover {
  opacity: 1;
}

.portfolio-content h1 {
  padding-bottom: 20px;
}

/* contact styling */

.contact-content {
  display: grid;
  grid-template-rows: 400px 1fr;
  position: relative;
}

.contact-content .contact-top-block {
  background: url(bg.jpg);
  background-size: cover;
  border-radius: 5px;
}

.contact-content .contact-bot-block {
  background: white;
  color: #2f3c5e;
  position: relative;
  height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-content .site-form {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  background: white;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.contact-content .site-form p {
    text-align: left;
    padding: 5px 15px;
}

.site-form input, .site-form textarea {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.site-form button[type="submit"] {
    background: #000000;
    opacity: 0.7;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px;
    position: relative;
    display: inline-block;
    left: 260px;
}

.site-form button[type="submit"]:hover {
    opacity: .5;
    cursor: pointer;
}

.contact-bot-block .contact-info {
  position: absolute;
  left: 50px;
  top: 40px;
}

.contact-bot-block .contact-info h3{
  padding: 0px 0px 10px 0px;
  display: inline-block
}

.contact-bot-block .contact-info p{
  text-align: left
}

.site-form {
	background: black;
}
.site-form .success a {
	display: block;
	position: relative;
	bottom: 70px;
	right: 100px;
	margin: auto;
	color: #2f3c5e;
	text-transform: uppercase;
	font-size: 0.8em;
}
